/*WP Post Contributors Stylesheet*/

.wrapper-container h4 {
	padding: 0;
	margin: 0;
}

.wrapper-container .contrib-list {
	padding: 5px;
}

.wrapper-container .contrib-list li {
 	margin-right: 10px;
 	width: auto;
 	/*padding: 3px 0 3px 0;*/
}

.wrapper-container .contrib-list li a{text-decoration: none;}
.wrapper-container .contrib-list li a img{
	min-height: 20px;
    min-width: 20px;
    max-height: 30px;
    max-width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 1px;
}

.author-name{
	font-size: 0.7em;
	text-align: center;
	text-transform: capitalize;
	padding: 1px;
	margin: 0;
}

.img-wrapper {
	display: inline-block;
    padding-top: 8px;
}

.img-wrapper:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
